# Ignore action build files
*.so
lib/

# Ignore vs workspace-specifi settings
*.vscode/

# Ignore vim temp files
*.swp

# Ignore gedit temp files
*~

# Ignore QtCreator temp files
*.user

# Ignore docs
*/doc/html
*/doc/manifest.yaml
